@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: rgb(33, 37, 41);
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    width: 76rem;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 2.3rem;
    margin-bottom: 2rem;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.nav>img {
    width: 125px;
    height: 50.1px;
}

.search__container {
    display: flex;
    gap: 0.5rem;
}

.search__container>input {
    padding: 0.938rem 1.5rem;
    gap: 0.625rem;

    width: 196px;
    height: 52px;

    background: #343A40;
    border-radius: 8px;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.313rem;

    color: #7C8B99;
}

.search__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.688rem 2.125rem;
    gap: 0.625rem;

    width: 72px;
    height: 52px;

    background: #4C6EF5;
    border-radius: 8px;
    border: none;

    cursor: pointer;
}

.search__img {
    width: 18px;
    height: 21px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.main>h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.938rem;
    margin-bottom: 4rem;


    color: #DEE2E6;
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.pokemon {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 60px;

    background: #343A40;
    border-radius: 8px;
}

.pokemon__url {
    width: 60px;
    height: 60px;
}

.pokemon__name {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625rem;
    
    color: #CED4DA;
}

.carregando {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625rem;


    color: #ADB5BD;

}

@media (min-width: 769px) {
    header {
        margin-bottom: 6rem;
    }

    .nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;

    }
}